body {
    font-family: "Roboto" ,sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    width: 1440px;
   

}


ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: currentColor;
}
h1 h2 h3 h4 h5 h6 p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

/* ==================HEADER=================== */

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
 
}
.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
/* margin-left: 156px;
margin-right: 156px; */
margin: 0 auto;
}

.header-container {
display: flex;
}

.header-navigate {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-family: "Raleway",sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}

.header-logo span {
    color: #2e2f42;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-item {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        
}
.header-item-link {
    color: #2e2f42;
    padding: 24px 0;
}

.header-item-link:hover {
    color:#404bbf;
}

.header-item-link:focus {
    color:#404bbf;
}


.header-address {
    font-style: normal;
}

.header-address-list {
    display: flex;
    margin-left: 332px;
    gap: 40px;
}

.header-address-item {
    
}
.header-address-link:hover {
    color: #404bbf;
}
.header-address-link:focus {
    color: #404bbf;
}

.header-address-link {
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}
/* =================ПЕРША СЕКЦІЯ==================== */

.hero {
    background: #2e2f42;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 188px 0;
}

.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        padding-top: 188px;
        padding-bottom: 48px;
        max-width: 496px;
        margin: 0 auto;
}

.hero-btn {
    display: block;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
            background: #4d5ae5;
            cursor: pointer;
            border: none;
            margin-bottom: 188px;
            margin-left: 480px;
            margin-right: 479px;
           
            text-align: center;
            border-radius: 4px;
               
            min-width: 169px;
                height: 56px;
                

            

}

.hero-btn:hover {
background-color: #404bbf;}


.hero-btn:focus {
    background-color: #404bbf;
}

/* ====================ДРУГА СЕКЦІЯ======================== */

.info {
    padding: 120px 0;
}


    .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
    
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }



.info-list {
display: flex;
    align-items: flex-start;
  
/* padding-top: 120px;
padding-bottom: 116px; */


gap: 24px;
}

.info-item {
    padding-left: 24px;
        padding-right: 24px;
    width: calc((100% - 3 * 24px) / 4);
}

.info-item-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.info-item-text {
    
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* ==================ТРЕТЯ СЕКЦІЯ======================== */

.team {
    background: #f4f4fd;
    
        padding: 120px 0
}

.team-title {
    margin-bottom: 72px;
}

.team-list {
   display: flex;
   gap: 24px 24px;
   

}

.team-item {
    background-color: #FFFFFF;
    gap: 24px;
    padding-left: 24px;
        padding-right: 24px;
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
}

.team-item-cont {
    padding: 32px 0;
}

.team-item-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
}

.team-item-text {
    text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* =================PORTFOLIO========================= */

.portfolio {
    padding-top: 124px;
        padding-bottom: 120px;
}

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
}

.portfolio-item {
    padding-left: 24px;
        padding-right: 24px;
        /* margin-left: 24px; */
        /* margin-right: 24px; */
        margin-bottom: 48px;
        width: calc((100% - 2 * 24px) / 3);
        


}

.portfolio-item-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-item-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin-bottom: 32px;
}

.title {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

/* =================FOOTER========================== */

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-link {
    font-family: Raleway, sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.footer-link-span{
    

color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
